@import './variables.scss';

.test-title {
  color: blue;
}

.header {
  color: $primary-color;
}

.footer {
  color: $primary-color;
}

.checkbox-select-all-options {
  width: 200px;
  margin: 0 16px;
}
