<h1>Example App: Search</h1>
<div>
  <form method="POST" action="">
    <div class="mb-3">
      <label for="name" class="form-label">Tên</label>
      <input type="text" class="form-control" id="name" name="name" />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3">
      <label for="address" class="form-label">Địa chỉ</label>
      <input type="text" class="form-control" id="address" name="address" />
    </div>
    <div class="mb-3">
      <label for="gender" class="form-label">Giới tính</label>
      <select class="form-select" id="gender" name="gender">
        <option value="">Chọn giới tính</option>
        <option value="male">Nam</option>
        <option value="female">Nữ</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  {{#if name}}
  <h3>tên bạn là {{ name }}</h3>
  {{/if}}

  {{#if address}}
  <h3>địa chỉ của bạn là {{ address }}</h3>
  {{/if}}
</div>
